@import url('https://fonts.cdnfonts.com/css/luminari');
@import url('https://fonts.cdnfonts.com/css/angkest');

:root {
    --accent-color: #171717;
    --accent-text: white;
    --hero-color: #b98598;
    --game-base-color: #181a2a;
    --healthbar-border-color: #f1a023;
    --healthbar-color-healthy: #59a736;
    --healthbar-color-hurt: #8a0413;
}

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    background-color: var(--accent-color);
    font-family: 'Angkest', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-family: 'Luminari', sans-serif;
    letter-spacing: 1.5px;
}

ul {
    display: flex;
    gap: 50px;
}

li {
    list-style-type: none;
    display: inline;
}

li:hover {
    cursor: pointer;
}

header, footer, .navbar {
    color: var(--accent-text);
}

header {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.navbar {
    padding: 0px 0px 20px 0px;
    display: flex;
    justify-content: center;
}

.hero {
    padding: 20px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--hero-color);
}

.hero h2 {
    padding: 0px 0px 10px 0px;
}

.hero p {
    line-height: 1.5;
}

.game-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--game-base-color);
    color: var(--accent-text);
}

#level-text {
    align-self: center;
}

.healthbars-container {
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.healthbar {
    min-width: 300px;
    background-color: var(--healthbar-color-hurt);
    border-style: solid;
    border-color: var(--healthbar-border-color);
}

.health-text {
    width: auto;
    background-color: var(--healthbar-color-healthy);
    transition: all 0.5s;
}

#enemy-healthbar .health-text{
    margin-left: auto;
    text-align: right;
}

.sprites-container {
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sprite {
    min-width: 300px;
    min-height: 300px;
    border-style: solid;
}

#tooltip {
    display: flex;
    justify-content: center;
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 2.5s ease-in-out;
}

#glyph-container {
    margin: 0px 300px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: var(--healthbar-border-color);
}

.glyph h3:hover {
    cursor: pointer;
}

.greyed-out {
    opacity: 0.3;
}

.greyed-out:hover {
    cursor: not-allowed;
}

footer {
    padding: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
}

@keyframes fadeIn{
    0% {opacity: 0}
    50% {opacity: 100}
}